/* Media Queries */
@media (max-width: 768px) {
    #main-container {
        flex-direction: column;
        align-items: center;
    }

    #leaderboard {
        width: 90%;
        position: static;
        margin: 20px 0;
    }

    #gameCanvas {
        width: 85%;
        max-width: 400px;
        height: auto;
    }
}